<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= country.commonName %></title>
		<link rel="stylesheet" href="/css/main.css" />
		<script>
			document.addEventListener("DOMContentLoaded", async () => {
				let res = await fetch("http://quotable.io/random");
				let data = await res.json();

				document.getElementById(
					"quote"
				).innerHTML = `"${data.content}"<br />- <em>${data.author}</em>`;
			});
		</script>
	</head>

	<body tabindex="-1">
		<%- include('partials/navbar', {page: ''}) %>

		<div class="container mx-auto p-4">
			<div class="hero bg-base-200 rounded-lg p-6">
				<div class="hero-content text-center">
					<div class="max-w-md">
						<h1 class="text-5xl font-bold"><%= country.commonName %></h1>

						<p class="py-6">
							Below, you will find detailed information about the country: <%=
							country.commonName %>
						</p>
					</div>
				</div>
			</div>

			<br />

			<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
				<div>
					<img
						class="w-full rounded-lg"
						src="<%= country.flag %>"
						alt="Flag of <%= country.flag %>"
					/>
					<br /><br />
				</div>
				<div class="prose">
					<p>
						<span class="font-bold">Official Name: </span> <%=
						country.officialName %> <br />
						<span class="font-bold">Native Name: </span> <%= country.nativeName
						%> <br />
						<span class="font-bold">Coat of Arms: </span> &nbsp;&nbsp;
						<img
							class="h-20"
							style="display: inline; height: 20"
							src="<%= country.coatOfArms %>"
							alt="Coat of Arms of <%= country.flag %>"
						/><br />
						<span class="font-bold">Country Code (numeric-3): </span> <%=
						country.id %> <br />
						<span class="font-bold">Capital: </span> <%= country.capital %>
						<br />
						<span class="font-bold">Languages: </span> <%= country.languages %>
						<br />
						<span class="font-bold">Population: </span> <%=
						(country.population*1).toLocaleString() %> <br />
						<span class="font-bold">Area: </span> <%=
						(country.area*1).toLocaleString() %> Km<sup>2</sup> <br />
						<span class="font-bold">Is Landlocked?: </span> <%=
						country.landlocked ? "Yes" : "No" %> <br />
						<span class="font-bold">Currencies: </span> <%= country.currencies
						%> <br />
						<span class="font-bold">Region/Sub-region: </span> <%=
						country.SubRegion.region %>/<%= country.SubRegion.subRegion %><br />
						<span class="font-bold">On OpenStreetMap: </span>
						<a
							href="<%= country.openStreetMaps %>"
							class="btn btn-primary mt-2 btn-xs"
							target="_blank"
							><%= country.commonName %></a
						>
						<br /><br />

						<span id="quote"></span>
						<br /><br />

						<% if (session.user) { %>
						<a
							class="btn btn-secondary btn-sm"
							href="/editCountry/<%= country.id %>"
							>EDIT COUNTRY: <%= country.commonName.toUpperCase() %></a
						>
						<% } %>

						<a
							class="btn btn-primary btn-sm"
							href="#"
							onclick="history.back(); return false;"
							>RETURN</a
						>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
